.lp-blog-post-card{
    position: relative;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid $bordercolor;
}


.lp-blog-post-card-decor {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
   align-items: center;

   .lp-blog-post-card-line {
       border-bottom: 1px solid $bordercolor;
   }
}

.lp-blog-post-card-icon {
    width: 25px;
    height: 25px;
}

.lp-blog-post-card-controls {
    position: absolute;
    bottom: 16px;

    a {
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
    }
}

.lp-blog-post-card-content {
    margin-bottom: 35px;
}