$roboto: 'Roboto', sans-serif;
$plex: 'IBM Plex Sans', sans-serif;
$sitewidth: 1200px;
$balticsea: #3d3d3d;
$notquiteblack: #404040;
$white: #f5f6fa;
$bordercolor: rgba(144, 144, 144, 0.23);
$purple: #B24592;